* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 250px;
  width: 500px;
  margin: 10vh auto;
  background: blueviolet;
  position: relative;
  border-radius: 8px;
  padding: 50px;
}

.badge {
  height: 40px;
  width: 200px;
  background: rgb(0, 146, 214);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: -20px;
  text-align: center;
  line-height: 40px;
  border-radius: 8px;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: large;
}

.clock {
  background: greenyellow;
  text-align: center;
  font-size: 4rem;
  height: 100%;
  border-radius: 8px;
  padding-top: 30px;
  font-family: "Orbitron", sans-serif;
}
